* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    padding: 20px;
    overflow-y: auto;
}

.wrapper .main-title {
    margin-bottom: 15px;
    color: #a8a8a8;
    font-size: 1.5em;
}

.wrapper .flows {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wrapper .flows .flow-item {
    padding: 10px;
    border: 1px solid rgba(173, 173, 173, .3);
    border-radius: 10px;
    position: relative;
}

.wrapper .flows .flow-item .remove-flow {
    position: absolute;
    width: 30px;
    height: 30px;
    /* top: 0px; */
    right: 0px;
    border: 0;
    padding: 0px;
    background: transparent;
    cursor: pointer;
}

.wrapper .flows .flow-item .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: .3rem;
    /* margin-left: 10px; */
}

.wrapper .flows .flow-item .item-header .left-side {
    display: flex;
    align-items: center;
}

.wrapper .flows .flow-item .item-header .right-side {
    display: flex;
}

.wrapper .flows .flow-item .item-name {
    margin-right: 20px;
}

.wrapper .flows .flow-item .item-body .shortcuts-list {
    display: flex;
    flex-direction: column;
    counter-reset: item;
    list-style-type: none;
}

.wrapper .flows .flow-item .item-body .shortcuts-list .shortcut-item {
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
}

.wrapper .flows .flow-item .item-body .shortcuts-list .shortcut-item .remove-shortcut {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    border: 0;
    padding: 0px;
    background: transparent;
    cursor: pointer;
}

.wrapper .flows .flow-item .item-body .shortcuts-list .shortcut-item::before {
    content: counter(item) "  ";
    counter-increment: item;
    position: absolute;
    left: -20px;
    top: 35%;
}

.mb-0 {
    margin-bottom: 0;
}

.flow-item .handle {
    cursor: move;
    top: 14px;
}

.table .input-sm-custom {
    height: 27px;
    padding: .25rem 5px;
}

.btn-sm-custom {
    height: auto !important;
    padding: 8px !important;
    line-height: 0.5 !important;
}

.arrow-wrap {
    margin-right: 20px;
    cursor: pointer;
    padding-bottom: 6px;
}

.ml-20 {
    margin-left: 20px;
}

.arrow-wrap .arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.table td {
    vertical-align: middle !important;
}

.handle {
    cursor: move;    
}