<!DOCTYPE html>
<html lang="en" ng-app="ShortcutsFlow">

<head>
    <meta charset="UTF-8">
    <title>ShortCut Extension</title>

    <!-- Styles reset and main file   -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/dnd-list.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- Scripts libs -->
    <script src="scripts/libs/JQuery/jquery-3.3.1.min.js"></script>
    <script src="scripts/libs/anguluar/angular.min.js"></script>
    <script src="scripts/libs/anguluar/directives/dnd-angular.Directive.js"></script>
</head>

<body>
    <div class="wrapper" ng-controller="ShortcutsCtrl">




        <!-- <div class="typesDemo row">

                    <div ng-repeat="list in lists" class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">List of {{list.label}} (max. {{list.max}})</h3>
                            </div>
                            <div class="panel-body" ng-include="'simple.html'"></div>
                        </div>
                    </div>
                
                </div> -->





        <h1 class="main-title">Chrome Shortcut Extension</h1>
        <form class="form-inline" ng-submit="createNewFlow()">
            <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" required placeholder="Write new flow name here" ng-model='newFlowName'>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary  btn-sm">Create Flow</button>
                </div>
            </div>
        </form>

        <div ng-if='vm.flows.length == 0'>
            <div class="alert alert-primary" role="alert">
                You have no existing flow
            </div>
        </div>

        <div class="flows" ng-if='vm.flows.length > 0'>
            <div class="flow-item mb-3" ng-repeat="flow in vm.flows track by $index">



                <div class="item-header" ng-class='{"mb-0" : !flow.bodyVisible}'>
                    <div class="left-side">
                        <span class="arrow-wrap" title='Toggle flow visible' ng-click='toggleFlowVisible(flow)'>
                            <i class="arrow" ng-class="{'up' : flow.bodyVisible, 'down': !flow.bodyVisible}"></i>
                        </span>
                        <div class="item-name" ng-bind="flow.name"></div>
                        <button type="button" class="btn btn-primary  btn-sm" ng-disabled="!flow.shortcuts.length" ng-click="executeFlow($index)">Execute flow</button>
                    </div>
                    <div class="right-side">
                        <button type="button" class="btn btn-outline-danger btn-sm" style="width: 30px; padding-top: 2px;" ng-click='removeFlow(flow.index)'
                            title="Remove flow">x</button>
                    </div>
                </div>

                <div ng-show='flow.error'>
                    <div style="margin-left: 10px;" class="alert alert-danger" role="alert" ng-bind="flow.error"></div>
                </div>

                <div class="item-body" ng-hide='!flow.bodyVisible'>
                    <table class="table table-sm" style='margin-bottom: 0;'>
                        <thead>
                            <tr>
                                <th style='border-top: 0; font-weight: 500; width: 6%;' scope="col" title="Drag and drop"></th>
                                <th style='border-top: 0; font-weight: 500; width: 50%;' scope="col" title="Short name of action">Action</th>
                                <th style='border-top: 0; font-weight: 500;' scope="col" title='Count for tabs, Selector for element'>Info</th>

                                <th style='border-top: 0; font-weight: 500;width: 10%;' scope="col"></th>
                            </tr>
                        </thead>
                        <tbody dnd-list="flow.shortcuts">

                            <!-- <tr ng-show="flow.shortcuts.length === 0">
                                <td colspan="3">Shortcuts list is empty. Create new shortcut</td>
                            </tr> -->

                            <tr class="dndPlaceholder">
                                <td colspan="3" style="text-align: center;">
                                    <strong>Drop shortcut here</strong>
                                </td>
                            </tr>


                            <tr ng-show="flow.shortcuts.length > 0" ng-repeat="shortcut in flow.shortcuts" dnd-draggable="shortcut" dnd-type="shortcut.action"
                                dnd-moved="dndMoved(flow, $index);">
                                <dnd-nodrag>
                                    <td>

                                        <div dnd-handle class="handle">:::</div>


                                    </td>
                                    <td ng-bind="shortcut.name"></td>

                                    <td ng-if="shortcut.action == 'tab'">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control input-sm-custom" required ng-model='shortcut.count'>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-secondary btn-sm btn-sm-custom" ng-click='updateShortcut()' title='Update'>↻</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="shortcut.action == 'selectelementusingselector'">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control input-sm-custom" required ng-model='shortcut.selector'>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-secondary btn-sm btn-sm-custom" ng-click='updateShortcut()' title='Update'>↻</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="shortcut.action == 'opentabbyurl'">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control input-sm-custom" required ng-model='shortcut.url'>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-secondary btn-sm btn-sm-custom" ng-click='updateShortcut()' title='Update'>↻</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="shortcut.action == 'pastusinginput'">
                                        <div class="input-group input-group-sm">
                                            <input type="text" class="form-control input-sm-custom" required ng-model='shortcut.data'>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-secondary btn-sm btn-sm-custom" ng-click='updateShortcut()' title='Update'>↻</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td ng-if="shortcut.action != 'selectelementusingselector' 
                                        && shortcut.action != 'tab'  
                                        && shortcut.action != 'opentabbyurl'
                                        && shortcut.action != 'pastusinginput'">-</td>

                                    <td>
                                        <button type="button" class="btn btn-outline-danger btn-sm btn-block" style='padding-top: 0px;' ng-click='removeShortcut(flow, shortcut.index)'
                                            title="Remove shortcut">x</button>
                                    </td>
                                </dnd-nodrag>
                            </tr>

                        </tbody>
                    </table>

                    <form class="mt-3" ng-submit="createNewShortcut(flow)">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Shortcut type</label>
                            </div>
                            <select class="form-control" ng-model="flow.temp.newShortcut.type" ng-options="type.name group by type.group for type in typesOfShortcut track by type.id">
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-6" ng-if='flow.temp.newShortcut.type.action == "tab"'>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Count</span>
                                    </div>
                                    <input type="number" required ng-model="flow.temp.newShortcut.count" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                            <div class="col-6" ng-if='flow.temp.newShortcut.type.action == "selectelementusingselector"'>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Selector</span>
                                    </div>
                                    <input type="text" required ng-model="flow.temp.newShortcut.selector" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                            <div class="col-6" ng-if='flow.temp.newShortcut.type.action == "opentabbyurl"'>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Url</span>
                                    </div>
                                    <input type="text" required ng-model="flow.temp.newShortcut.url" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>
                            <div class="col-6" ng-if='flow.temp.newShortcut.type.action == "pastusinginput"'>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Data</span>
                                    </div>
                                    <input type="text" required ng-model="flow.temp.newShortcut.data" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                            </div>


                            <div class="col-6">
                                <button type="submit" title='toggle flow' ng-class="{'btn-block' : flow.temp.newShortcut.type.id == 10 || flow.temp.newShortcut.type.id == 14 || flow.temp.newShortcut.type.id == 15 }"
                                    class="btn btn-success btn-sm">Create shortcut</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- item-body -->


            </div>
            <!-- flow-item -->
        </div>
        <!-- flows -->
    </div>
    <!-- wrapper -->
    <script src="scripts/popup/performer.js"></script>

</body>

</html>